<head>
		<TITLE> ACTIVIDADES</title>
	</head>
	<body>
	
	<form action="" method="post">
    <B>REGISTRO DE ACTIVIDADES</B>
	<BR><BR>ACTIVIDAD</BR>
	
	<select>
				<option value="conferencia">Conferencia</option>
				<option value="taller">Taller</option>
				<option value="administrador">Administrador</option>
			</select>
			<BR>
			<BR> NOMBRE<BR><input type="text" value="" id="nom" name="nom" /><BR>
			<BR> LUGARES  <BR><input type="number" id="lug" name="lug" min="1" max ="99" /><BR>
			<BR>DESCRIPCION <BR> <textarea  rows="2" cols="50" name="desc" ></textarea><BR><BR>
			
			INSTRUCTOR<BR>
			
			<select>
				<option value="conferencista">ADRIAN MACIAS</option>
				<option value="tallerista">ADOLF HITLER</option>
				<option value="tallerista">PEÑA NIETO</option>
				<option value="conferencista">OBRADOR</option>
			</select><BR><BR>
			<input type="submit" name="enviar" value="Guardar cambios" />
			
			
		</form>	
	</body>
</HTML>