<head>
        <title>EVENTOS</title>
    </head>
	
	<body>
	<h3>Rellena tus Datos</h3>
	
	<form action="" method="post">
		<label for="" method="post">
		
		Nombre <br><input type="text" name="nombre" value="" size="20" maxlength="30"><br>
		CONTACTO<BR> <textarea  rows="4" cols="50" name="contacto"></textarea><BR>
		CUANDO<BR> <textarea  rows="4" cols="50" name="contacto"></textarea> <br>
		DONDE<BR> <textarea  rows="4" cols="50" name="contacto"></textarea><br>
		INFORMACION<br><input type="text" name="nombre" value="" size="20" maxlength="30"><br>
		FECHA DE INICIO <input type="date" name="fechai" id="fechai" value="" size="10"/><BR>
		FECHA DE TERMINO <input type="date" name="fechaf" id="fechaf" value="" size="10"/><BR>
		
		
		 </form>
    </body>
</html>